// Colors
$primary-color: #e6007e;
$gradient-btn: linear-gradient(-45deg, #D4208C, #E51726);
$gradient-text: linear-gradient(to bottom, #E51726, #D4208C);
$font-family: 'Segoe UI', sans-serif;

$border-color: #dfe6e9;
$error-color: #d63031;
